/*
* @Author: UnsignedByte
* @Date:   2022-04-30 07:05:21
* @Last Modified by:   UnsignedByte
* @Last Modified time: 2022-05-23 17:03:50
*/

:root {
	--bright: #fcfaf5;
	--mid: #dbd6ca;
}

body {
	font-family: SFMono-Regular,Consolas,"Courier New",monospace;
	margin: 0;
	height: 100%;
	background-color: var(--bright)
}

#guess-wrapper {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	padding-bottom: 2vh;
	padding-top: 1.5vh;
	background-color: var(--mid);
}

#guess-form {
	display: flex;
	width: fit-content;
	min-width: 50%;
}

#guess {
	flex-grow: 4;
}

#guess-submit {
	flex-grow: 1;
}

#guesses {
	margin-top: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 6vh;
} 

#guesses th,
#guesses td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#guesses th:nth-child(3),
#guesses td:nth-child(3) {
	min-width: 6em;
}

#guesses th:nth-child(2),
#guesses td:nth-child(2) {
	min-width: 10em;
}

#guesses > thead hr {
	margin: 0;
}

header {
	background-color: var(--mid);
	width: 100%;
	display: flex;
	justify-content: stretch;
}

header > h1 {
	display: flex;
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: 3vw;
	margin-right: 3vw;
	align-items: center;
}

#description {
	flex-grow: 1;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;
  display: flex;
	align-items: center;
	justify-content: center;
}

#description > p {
	text-align: center;
	max-width: 30em;
}

#error {
	opacity: 0;
	color: #de3f23;
	margin: 0;
	margin-top: 1vh;
	margin-left: 1vw;
	animation: fadeout 5s;
}

#error > span {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

@keyframes fadeout {
	0% { opacity: 1; }
	30% { opacity: 1; }
	100% { opacity: 0; }
}

.static {
	animation: none !important;
}

#icongroup {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;
	justify-content: space-evenly;
}

#icongroup .icon {
	margin: 0;
}

#icongroup .icon i {
	font-size: 24px;
}

#icongroup .icon i:hover {
	animation: fa-beat 1s infinite linear;
	--fa-beat-scale: 1.1;
}

#icongroup .icon i.fa-gear:hover {
	animation: fa-spin 4s infinite linear;
}